# Python
__pycache__/
*.pyc
*.pyo

# Model weights
*.pt

# Images
*.jpg
*.jpeg
*.png
!IMG_2611.jpg
!IMG_2659.jpg
!IMG_2665.jpg
!IMG_2667.jpg
!IMG_2679.jpg

# Virtual environments
/myenv/
/venv/
/.venv/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store

# Environment
.env

# YOLO runs
runs/
